.App {
  text-align: center;
}



.App-main {
  margin: auto;
  text-align: center;
  width: 40%;
  margin-top:20px;

}

.App-sub{
  height: 280px;
  display:block;
  overflow:scroll;

}

.risk-table, .risk-td, .risk-th {
    border: 1px solid #ddd;
    text-align: left;
}
.risk-th, .risk-td {
    padding: 10px;
    text-align: left;
}

.danger-tr{
  background-color: #FF4500;
}

.unusual-high-won{
  background-color:#FFFF00;
}

.unusual-high-stake{
  background-color:#FF6347;
}

.unusual-tentimes-stake{
  background-color:#FF1493;
}
.normal{
  background-color:#FFFFFF;
}
