.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.App-main {
  margin: auto;
  text-align: center;
  width: 40%;

}

.risk-table, .risk-td, .risk-th {
    border: 1px solid #ddd;
    text-align: left;
}
.risk-th, .risk-td {
    padding: 10px;
    text-align: left;
}

.danger-tr{
  background-color: #FF4500;
}
